<div class="container pad-top">
  <table class="table shipwrecktable">
      <tr>
          <td><h3>Details for {{user.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{user.name}}</td>
      </tr>
      <tr>
          <td>Role</td>
          <td>{{user.role}}</td>
      </tr>
      <tr>
          <td>Company</td>
          <td>{{user.company}}</td>
      </tr>
      <tr>
          <td>Age</td>
          <td>{{user.age}}</td>
      </tr>
      <tr>
          <td>Height</td>
          <td>{{user.height}}</td>
      </tr>
      <tr>
          <td>Location</td>
          <td>{{user.location}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editUser({id:user.id})">Edit</a>
  </div>
</div>
